:root {
    --white: #DCD8D9;
}

%legend-font {
    fill: var(--white);
    font-size: 2vh;
    @media screen and (orientation: portrait) {
        font-size: 2vw;
    }
}

body {
    font-family: 'Helvetica', sans-serif;
    color: var(--white);
    background: #3b3d3d;
    background: linear-gradient(0deg, #1b1d1d, #3b3d3d);
    height: 100vh;
}

#content {
    position: relative;
    left: -7vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 90vh;
    @media screen and (orientation: portrait) {
        left: -4vw;
        margin-top: 5vw;
        width: 80vw;
        min-width: 300px;
    }
}

.header {
    line-height: 1.2;
    margin-top: 1vh;
    margin-bottom: 3vw;
    margin-left: 2.5vh;
    @media screen and (orientation: portrait) {
        margin-top: 1vw;
        margin-bottom: 3vw;
        margin-left: 2.5vw;
    }
}
h1 {
    font-size: 5vh;
    margin-bottom: 3vh;
    @media screen and (orientation: portrait) {
        font-size: 5vw;
        margin-bottom: 3vw;
    }
}

#container {
    resize: both;
    overflow: visible;
}

svg {
    width: 100%;
    height: 100%;
}

.axis {
    @extend %legend-font;
}

.year {
    font-family: "Fira Mono", monospace;
    font-weight: bold;
    color: #333333;
    z-index: 100;
    opacity: .2;
    letter-spacing: -1vh;
    font-size: 20vh;
    @media screen and (orientation: portrait) {
        font-size: 20vw;
    }
    alignment-baseline: hanging;
    text-anchor: end;
}

.labelX {
    @extend %legend-font;
    text-anchor: end;
    alignment-baseline: ideographic;
}

.labelY {
    @extend %legend-font;
    alignment-baseline: hanging;
    text-anchor: end;
    transform: rotate(-90deg);
}