html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-decoration: none;
  font-weight: normal;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --white: #DCD8D9;
  --black: #3b3d3d;
}

.tooltip, a, .disclaimer, .labelY, .labelX, .axis {
  fill: var(--white);
  font-size: 2vh;
}
@media screen and (orientation: portrait) {
  .tooltip, a, .disclaimer, .labelY, .labelX, .axis {
    font-size: 2vw;
  }
}

body {
  font-family: "Helvetica", sans-serif;
  color: var(--white);
  background: var(--black);
  background: linear-gradient(0deg, #0b0d0d, #1b1d1d);
  height: 90vh;
}

#content {
  position: relative;
  left: -7vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  width: 90vh;
}
@media screen and (orientation: portrait) {
  #content {
    left: -4vw;
    margin-top: 10vw;
    width: 80vw;
    min-width: 300px;
  }
}

.header {
  line-height: 1.2;
  margin-top: 1vh;
  margin-bottom: 3vw;
  margin-left: 2.5vh;
}
@media screen and (orientation: portrait) {
  .header {
    margin-top: 1vw;
    margin-bottom: 3vw;
    margin-left: 2.5vw;
  }
}

h1 {
  font-size: 5vh;
  margin-bottom: 3vh;
}
@media screen and (orientation: portrait) {
  h1 {
    font-size: 5vw;
    margin-bottom: 3vw;
  }
}

#container {
  resize: both;
  overflow: visible;
  position: relative;
  z-index: 1;
}

svg {
  width: 100%;
  height: 100%;
}

.axis {
  user-select: none;
}

.year {
  font-family: "Fira Mono", monospace;
  font-weight: bold;
  fill: var(--white);
  opacity: 0.125;
  letter-spacing: -1vh;
  font-size: 20vh;
  alignment-baseline: hanging;
  text-anchor: end;
}
@media screen and (orientation: portrait) {
  .year {
    font-size: 20vw;
  }
}

.text {
  user-select: none;
}

.labelX {
  text-anchor: end;
  alignment-baseline: ideographic;
}

.labelY {
  alignment-baseline: hanging;
  text-anchor: end;
  transform: rotate(-90deg);
}

a {
  display: inline-block;
  position: absolute;
  right: 0;
  text-decoration: underline;
  color: var(--white);
  opacity: 0.5;
}

.tooltip {
  border-radius: 3px;
  line-height: 1.5em;
  padding: 1em 2em 1.5em 1em;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  color: var(--black);
  position: absolute;
  z-index: 100;
}

.outlined {
  stroke: var(--white);
}

.legend-item {
  text-decoration: underline;
  cursor: pointer;
}

.selected {
  text-decoration: none;
  cursor: auto;
}

/*# sourceMappingURL=styles.css.map */
